<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% extends "./templates/layout.njk" %}
        {% block main %}
            <style>
                .routes li{
                    margin-bottom: 15px;
                }
                .routes a {
                    font-size: 25px;
                    text-decoration: none;
                }
            </style>
            <div class="container">
                <ul class="routes">
                    <li>
                        <a href="index.html">Главная</a>
                    </li>
                    <li>
                        <a href="news.html">Новости</a>
                    </li>
                    <li>
                        <a href="news-1.html">Новости детальная</a>
                    </li>
                </ul>
            </div>
        {% endblock main %}
    </body>
</html>